/*  resets  */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*  end resets  */

body {
  font: normal 4vh "Fredoka One", "Helvetica", Arial, Sans-serif;
  background-color: rgba(135, 201, 248, 0.2);
  color: #303030;
}

.full-page-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.back-button {
  float: left;
  height: 25px;
  width: 25px;
  margin: 10px 0 0 10px;
}

.alert-box {
  width: 100%;
  height: 15vh;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.character-choices {
  margin: auto;
  text-align: center;
}

.character-choice {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 0 5px;
  cursor: pointer;
}

main {
  display: none;
}

header {
  height: 20vh;
}

header div {
  float: left;
  width: 50%;
  font-size: 11vh;
}

header ul li {
  display: inline-block;
  height: 20vh;
  vertical-align: middle;
}

header::after {
  display: block;
  clear: both;
  content: "";
}

.wins {
  width: 35%;
  text-align: center;
}

.character {
  width: 65%;
}

.dog {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f436.svg");
}

.tiger {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f42f.svg");
}

.chick {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f425.svg");
}

.tako {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f419.svg");
}

.moon {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f31d.svg");
}

.sun {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f31e.svg");
}

.alien {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f47d.svg");
}

.poop {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f4a9.svg");
}

.smiley {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f600.svg");
}

.purple-demon {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/2/svg/1f608.svg");
}

.hands {
  height: 40vh;
}

.hands::after {
  display: block;
  clear: both;
  content: "";
}

.hand-container {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
}

/*  for the hands the width becomes height  */
/*  and height becomes width due to rotation  */
.hand {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

#player-hand {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#computer-hand {
  -ms-filter: "hue-rotate(30deg)";
  -moz-transform: rotate(-90deg) scaleX(-1);
  -ms-transform: rotate(-90deg) scaleX(-1);
  -o-transform: rotate(-90deg) scaleX(-1);
  -webkit-transform: rotate(-90deg) scaleX(-1);
  transform: rotate(-90deg) scaleX(-1);
}

.rock {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/svg/270a.svg");
  background-size: 70% 70%;
}

.paper {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/svg/270b.svg");
  background-size: 90% 90%;
}

.scissors {
  background: transparent no-repeat center
    url("https://twemoji.maxcdn.com/svg/270c.svg");
  background-size: 100% 100%;
}

.rock.brown {
  background: transparent no-repeat center url("/images/rps/rock-brown.svg");
}

.rock.grey {
  background: transparent no-repeat center url("/images/rps/rock-grey.svg");
}

.rock.light-purple {
  background: transparent no-repeat center
    url("/images/rps/rock-light-purple.svg");
}

.rock.purple {
  background: transparent no-repeat center url("/images/rps/rock-purple.svg");
}

.rock.yellow {
  background: transparent no-repeat center url("/images/rps/rock-yellow.svg");
}

.paper.brown {
  background: transparent no-repeat center url("/images/rps/paper-brown.svg");
}

.paper.grey {
  background: transparent no-repeat center url("/images/rps/paper-grey.svg");
}

.paper.light-purple {
  background: transparent no-repeat center
    url("/images/rps/paper-light-purple.svg");
}

.paper.purple {
  background: transparent no-repeat center url("/images/rps/paper-purple.svg");
}

.paper.yellow {
  background: transparent no-repeat center url("/images/rps/paper-yellow.svg");
}

.scissors.brown {
  background: transparent no-repeat center url("/images/rps/scissors-brown.svg");
}

.scissors.dark-grey {
  background: transparent no-repeat center
    url("/images/rps/scissors-dark-grey.svg");
}

.scissors.grey {
  background: transparent no-repeat center url("/images/rps/scissors-grey.svg");
}

.scissors.light-purple {
  background: transparent no-repeat center
    url("/images/rps/scissors-light-purple.svg");
}

.scissors.purple {
  background: transparent no-repeat center
    url("/images/rps/scissors-purple.svg");
}

.scissors.yellow {
  background: transparent no-repeat center
    url("/images/rps/scissors-yellow.svg");
}

.controls {
  height: 20vh;
  padding: 0 0 5vh 0;
  box-sizing: border-box;
}

.controls li {
  display: inline-block;
  width: 33%;
  height: 100%;
  cursor: pointer;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5vh;
  font-size: 3vh;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #9266cc;
}

@media (max-height: 400px) {
  .hand {
    width: 100px;
    height: 100px;
  }
}

@media (min-height: 500px) and (min-width: 544px) {
  .hands {
    height: 45vh;
  }

  .hand {
    width: 220px;
    height: 220px;
  }

  header div {
    font-size: 16vh;
  }
}

@media (min-height: 700px) and (min-width: 768px) {
  .hand {
    width: 340px;
    height: 340px;
  }
}

@media (min-height: 900px) and (min-width: 992px) {
  .hand {
    width: 380px;
    height: 380px;
  }
}
