---
layout: default
---
<p class="course-instructions light-mono-text">
  Click course name for details
</p>
<ol>

  {% for course in site.courses reversed %}
    <li class="course-item">
      <section class="course-summary">
        <h4 class="period light-mono-text">{{ course.period }}</h4>
        <h2><a href="javascript:void(0)">{{ course.title }}</a></h2>
        <p>
          {{ course.description }}
        </p>
      </section>

      <section class="course-details">
        <section class="course-content">
          <h3>Contents</h3>
          {{ course.content }}
        </section>

        {% if course.courseworks %}
          <h3>Coursework</h3>
          <ul class="course-coursework">
            {% for coursework in course.courseworks %}
              <li>
                <ul class="coursework-item">
                  <li class="course-project-icon">
                    {% include icon-github.html username="rbndickson" repository=coursework.repostitory %}
                  </li>
                  <li>
                    {{ coursework.name }}
                  </li>
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if course.projects %}
          <h3>Projects</h3>
          <ul class="course-projects">

            {% for project in course.projects %}
              <li>
                <ul class="project-item">
                  <li class="course-project-icon">
                    {% include icon-github.html username="rbndickson" repository=project.repostitory %}
                  </li>
                  <li>
                    {{ project.name }}
                  </li>
                  {% if project.demo %}
                    <li class="course-link">
                      <a href="{{ project.demo }}">[demo]</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endfor %}

          </ul>
        {% endif %}
      </section>

    </li>
  {% endfor %}

</ol>
<script src="/scripts/courses.js"></script>
