---
layout: default
---
<ul>
  {% for project in site.projects reversed %}
    <li class="project-list-item">
      <figure class="project-list-figure {{ project.platform }}">
          <img class="project-list-image {{ project.platform }}" src="/images/{{ project.img }}.png">
        <figcaption>
          <h2><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h2>
          <ul class="categories-list">
            {% for category in project.categories %}
              <li>{{ category }}</li>
            {% endfor %}
          </ul>
        </figcaption>
      </figure>
    </li>
  {% endfor %}
</ul>
