---
layout: default
---
<ul class="games-list">
  {% for game in site.games reversed %}
    <li>
      <span>
        {% for emoji in game.emoji %}
          {{ emoji }}
        {% endfor %}
      </span>
      <h2><a href="{{ game.url | prepend: site.baseurl }}">{{ game.title }}</a></h2>
      <p>
        {% include icon-github.html username="rbndickson" repository=game.repostitory %}
      </p>
      <p class="game-description">
        {{ game.description }}
      </p>
    </li>
  {% endfor %}
</ul>
