---
layout: default
---
<ul class="games-list">
  {% for game in site.games reversed %}
    <li>
      <span>
        {% for emoji in game.emoji %}
          {{ emoji }}
        {% endfor %}
      </span>
      <h2><a href="{{ game.url | prepend: site.baseurl }}">{{ game.title }}</a></h2>
      <ul class="categories-list">
        {% for category in project.categories %}
          <img>
        {% endfor %}
      </ul>
      {% include icon-github.html username="rbndickson" repository=game.repostitory %}
    </li>
  {% endfor %}
</ul>
