body {
  overflow-y: scroll;
  font: $base-font-weight #{$small-font-size}/#{$base-line-height}
    $base-font-family;
  color: $main-text-color;
  background: $body-background-color;
}

p {
  a:link,
  a:visited {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    color: $highlight-color-1;
    text-decoration: underline;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

h1 {
  font-family: $heading-font-family;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 0 0 10px;
}

h2 {
  font-size: 1.23rem;
}

a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.light-mono-text {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  opacity: 0.6;
}

.icon {
  > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;

    path {
      transition: fill 0.25s ease-in-out;
      fill: $main-text-color;
    }
  }

  > svg:hover {
    path {
      fill: $nav-link-color;
    }
  }
}

@media (min-width: 800px) {
  body {
    font-size: $base-font-size;
  }
}
