hr {
  height: 2px;
  background-image: linear-gradient(
    90deg,
    $white,
    $blue2,
    $violet,
    $blue2,
    $white
  );
  border: 0;
}

.icon {
  > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;

    path {
      transition: fill 0.25s ease-in-out;
      fill: $main-text-color;
    }
  }

  > svg:hover {
    path {
      fill: $link-color;
    }
  }
}

figcaption {
  margin-top: 25px;
  text-align: center;
  color: $main-text-color;
  background: $body-background-color;
}

.laptop-background {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 500px;
  max-height: 340px;
  margin: 0 50px;
  background-image: url("/images/laptop_700_400.svg");

  img {
    box-sizing: border-box;
    border-radius: 0;
    width: 71.4%;
    height: 41.4%;
    margin: 6.9% 0 0 14.2%;
  }
}

.smartphone-background {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 500px;
  max-height: 400px;
  margin: 0 50px;
  background-image: url("/images/mobile_140_280.svg");

  img {
    box-sizing: border-box;
    border-radius: 0;
    width: 20%;
    height: 44.6%;
    margin: 7.1% 0 0 40%;
  }
}

@media (min-width: 600px) {
  figcaption {
    margin-top: 50px;
  }
}
