//
// Default is for screens under 600px
//

body {
  max-width: 600px;
  margin: auto;
  overflow-y: scroll;
  background: $body-background-color;
}

.main-container {
  padding: 0 10px;
}

//
// Language Selector
//

.language-selector {
  width: 100%;
  text-align: right;
  margin: 5px 0 0 0;

  ul li {
    display: inline-block;
  }

  ul li:first-of-type:after {
    content: "/";
    padding: 0 2px 0 5px;
  }
}

//
// Main
//

section {
  margin-top: 40px;

  h2 {
    margin-bottom: 20px;
  }
}

//
// Footer
//

footer {
  margin: 30px 0 20px 0;
  text-align: center;
}

//
// On large screens
//

@media (min-width: 600px) {
  h1 {
    margin: 10px 0 0 0;
  }

  main {
    min-height: 500px;
  }

  footer {
    margin: 30px 0 20px 0;
  }
}
