//
// Default is for screens under 600px
//

body {
  max-width: 600px;
  margin: auto;
  overflow-y: scroll;
  background: $body-background-color;
}

.mobile-top-bar {
  height: 4px;
  background-image: linear-gradient($highlight-color-1, $highlight-color-2);
}

.main-container {
  padding: 0 10px;
}

//
// Navigation
//

nav ul {
  width: 100%;
  margin-bottom: 20px;

  li {
    display: inline-block;
    padding: 15px 20px 15px 0;
    font-size: 18px;
    color: $link-color;
  }
}

//
// Footer
//

footer {
  margin: 30px 0 20px 0;
  font-size: $small-font-size;
  color: $weak-blue-black;
  text-align: center;

  a:hover {
    background-size: 100% 1px;
  }
}

//
// On large screens
//

@media (min-width: 600px) {
  .mobile-top-bar {
    display: none;
  }

  header {
    margin: 30px 0 0 0;
  }

  main {
    min-height: 500px;
  }

  footer {
    margin: 30px 0 20px 0;
    font-size: 0.786em;
  }
}
