.page-article {
  margin: 20px 15px;

  img {
    display: inline-block;
    height: 130px;
    margin: auto;
  }
}

.about-photos {
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 475px) {
  .page-article {
    margin: 100px 0 0 0;

    img {
      height: 200px;
    }
  }
}

@media (min-width: 800px) {
  .page-article {
    margin: 100px 0 0 0;

    img {
      height: 250px;
    }
  }
}
