.games-list {
  margin: 40px 0 0 0;
  font: normal 24px "Fredoka One", "Open Sans", Arial, sans-serif;
  text-align: center;

  a {
    transition: color .25s ease-in-out;
  }

  a:hover {
    color: $nav-link-color;
  }
}

.games-list li {
  margin: 0 0 40px 0;
}

.game-description {
  font: normal $base-font-size $base-font-family;
}

@media (min-width: 800px) {
  .games-list {
    margin: 100px 0 0 0;
  }
}
