.project-list-item {
  margin: 20px 0 40px 0;
}

.categories-list {
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    font-size: $small-font-size;
    padding: 6px;
  }
}
