.project-list-item {
  margin: 20px 0 40px 0;
}

.technologies-list {
  display: flex;
  justify-content: center;

  li {
    display: inline-block;
    font-size: $small-font-size;
    padding: 6px;
  }
}

.project-summary {
  font-size: $small-font-size;
  padding: 6px;
  text-align: center;
}
