body {
  font: $base-font-weight #{$small-font-size}/#{$base-line-height}
    $base-font-family;
  color: $main-text-color;
}

p {
  padding: 6px 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

h1 {
  font-family: $heading-font-family;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 0 0 0;
}

h2 {
  font-size: 1.23rem;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: inherit;
}

a:hover {
  color: $highlight-color-2;
}

.light-mono-text {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  opacity: 0.6;
}

@media (min-width: 800px) {
  body {
    font-size: $base-font-size;
  }
}
