$white:                 #FFFFFF;
$blue:                  #0071FF;
$black:                 #0a041b;
$grey:                  #707070;
$pink:                  #FF1DED;

$body-background-color: $white;
$main-text-color:       $black;
$title-text-color:      $black;
$link-color:            $blue;
$link-hover-color:      $pink;

$gradient-line-outer-color:  $white;
$gradient-line-inner-color:  $blue;
$gradient-line-center-color: $pink;

$base-font-family:      "Open Sans", Arial, sans-serif;
$heading-font-family:   Raleway, Arial, sans-serif;

$japanese-font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
  "ＭＳ ゴシック", "MS Gothic", HiraKakuProN-W3, "TakaoExゴシック",
  TakaoExGothic, "MotoyaLCedar", "Droid Sans Japanese", sans-serif;

$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.786;
$base-font-weight:      400;
$base-line-height:      1.6;
