// Summer colors
// Inspiration - Natsume no Yuujinchou

$summer-green: #499D87;
$summer-light-green: #7AC441;
$summer-pale-blue: #EDF9FF;

// Original colors
$white:                 #FFFFFF;
$blue:                  #0071FF;
$black:                 #0a041b;
$grey:                  #707070;
$pink:                  #FF1DED;

$body-background-color: $summer-pale-blue;
$main-background-color: $white;
$main-text-color:       $black;
$title-text-color:      $black;
$link-color:            $summer-green;
$link-hover-color:      $summer-green;
$button-color:          $summer-green;
$button-hover-color:    $summer-light-green;

$gradient-line-outer-color:  $summer-pale-blue;
$gradient-line-inner-color:  $summer-green;
$gradient-line-center-color: $summer-light-green;

$base-font-family:      "Open Sans", Arial, sans-serif;
$heading-font-family:   Raleway, Arial, sans-serif;

$japanese-font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
  "ＭＳ ゴシック", "MS Gothic", HiraKakuProN-W3, "TakaoExゴシック",
  TakaoExGothic, "MotoyaLCedar", "Droid Sans Japanese", sans-serif;

$base-font-size:        1.20rem;
$heading-font-size-l:   2.00rem;
$heading-font-size-m:   1.50rem;
$heading-font-size-s:   1.25rem;
$small-font-size:       1.00rem;
$base-font-weight:      400;
$heading-font-weight:   500;
$base-line-height:      1.6;
