<!DOCTYPE html>
<html>
  <head>
    <meta Content-Type: text/html; charset=utf-8>
    <title>Appledrop!</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/appledrop.css">
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  </head>
  <body>
    <nav></nav>
    <main>
      <div id="tree" class="tree"></div>
      <div id="word" class="word"></div>
      <div id="incorrect-guesses" class="incorrect-guesses"></div>
    </main>
    <footer>Made with <a href="https://github.com/twitter/twemoji">Twemoji</a></footer>
    <script src="/scripts/appledrop.js"></script>
  </body>
</html>
