---
layout: default
---


<article>
  {% if page.platform == 'web' %}
    <figure class="laptop-background">
  {% else %}
    <figure class="smartphone-background">
  {% endif %}
    <img src="/images/{{ page.img }}.png">

    <figcaption>
      <h2>{{ page.title }}</h2>
      <ul class="site-links">
        {% if page.demo %}
          <li><a class="button" href="{{ page.demo }}">Open Site</a></li>
        {% endif %}
        {% if page.repository %}
          <li><a class="button" href="{{ page.repository }}">View Code</a></li>
        {% endif %}
      </ul>
      <h3>{{ page.created_in }}</h3>
    </figcaption>
  </figure>

  <section class="project-content">
    {{ content }}
  </section>
</article>
