---
layout: default
---
<article>
  <figure class="project-list-figure {{ page.platform }}">
    <img class="project-list-image {{ page.platform }}" src="/images/{{ page.img }}.png">

    <figcaption>
      <h2>{{ page.title }}</h2>
      <ul class="site-links">
        {% if page.demo %}
          <li><a href="{{ page.demo }}">[VIEW SITE]</a></li>
        {% endif %}
        {% if page.repository %}
          <li><a href="{{ page.repository }}">[VIEW CODE]</a></li>
        {% endif %}
      </ul>
      <h3>{{ page.created_in }}</h3>
    </figcaption>
  </figure>

  <section class="project-description">
    {{ content }}
  </section>

  <section class="project-section">
    <h2>Features</h2>
    <ul>
      {% for feature in page.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>
  </section>

  <section class="project-section">
    <h2>Technologies</h2>
    <ul>
      {% for technology in page.technologies %}
      <li>{{ technology }}</li>
      {% endfor %}
    </ul>
  </section>
</article>
